@model PugliaMia.Models.Carrello

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carrello</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prodotti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prodotti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantita)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarrelloID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
