@{
    ViewBag.Title = "BackOffice";
}

<div class="container-fluid bgChisiamo9">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un mare di sapori</h1>
            </div>
        </div>
    </div>
</div>

<div class="container login-form my-4 text-center">
    <h2 class="titPage">BackOffice</h2>
    <hr class="border border-danger border-2 opacity-50 mb-4" />
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card h-100 bgOffice text-center">
                <div class="card-body">
                    <p>@Html.ActionLink("Lista Prodotti", "IndexAdmin", "Prodotti", new { area = "" }, new { @class = "bottone2" })</p>
                </div>
            </div>
        </div>
        <!-- Ripeti questa struttura per gli altri elementi -->
        <div class="col">
            <div class="card h-100 bgOffice text-center">
                <div class="card-body">
                    <p> @Html.ActionLink("Ordini In elaborazione", "Index", "Ordini", new { area = "" }, new { @class = "bottone2" })</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bgOffice text-center">
                <div class="card-body">
                    <p> @Html.ActionLink("Utenti registrati", "Index", "Utenti", new { area = "" }, new { @class = "bottone2" })</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bgOffice text-center">
                <div class="card-body">
                    <p> @Html.ActionLink("Ordini Dettaglio", "Index", "DettagliOrdine", new { area = "" }, new { @class = "bottone2" })</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bgOffice text-center">
                <div class="card-body">
                    <p> @Html.ActionLink("Spedizioni in Transito", "Index", "Spedizioni", new { area = "" }, new { @class = "bottone2" })</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bgOffice text-center">
                <div class="card-body">
                    <p> @Html.ActionLink("Prodotti più Venduti", "ProdottiPiuVenduti", "Home", new { area = "" }, new { @class = "bottone2" })</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bgOffice text-center">
                <div class="card-body">
                    <p> @Html.ActionLink("Ordini Confermati", "IndexConfermato", "Ordini", new { area = "" }, new { @class = "bottone2" })</p>
                </div>
            </div>
        </div>
    </div>
</div>
