@model IEnumerable<PugliaMia.Models.Spedizioni>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid bgChisiamo9">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un mare di sapori</h1>
            </div>
        </div>
    </div>
</div>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ordini.StatoOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndirizzoSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Corriere)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataSpedizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroTracciamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatoSpedizione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ordini.StatoOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndirizzoSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Corriere)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataSpedizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroTracciamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatoSpedizione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SpedizioneID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SpedizioneID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SpedizioneID })
            @Html.ActionLink("Conferma", "CompletaSpedizione", new { id = item.SpedizioneID }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>

<div class="bottone1">  @Html.ActionLink("Back to List", "Index", "Home")</div>