@model IEnumerable<PugliaMia.Models.Pagamenti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ordini.StatoOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetodoPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalePagato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatoPagamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ordini.StatoOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetodoPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalePagato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatoPagamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PagamentoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PagamentoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PagamentoID })
        </td>
    </tr>
}

</table>
