@model IEnumerable<PugliaMia.Models.Utenti>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid bgChisiamo9">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un mare di sapori</h1>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <h2 class="titPage">Utenti Registrati</h2>
    <hr class="border border-danger border-2 opacity-50 mb-4" />

    <p>
        @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "bottone1" })
    </p>
    <p>  @Html.ActionLink("Torna indietro", "BackOffice", "Home", new { area = "" }, new { @class = "bottone1" })</p>
    <div class="table-responsive">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                   
                    
                    <th>@Html.DisplayNameFor(model => model.Role)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        
                       
                        <td>@Html.DisplayFor(modelItem => item.Role)</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.UserID }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Rendi Admin", "AssignAdminRole", new { id = item.UserID }, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<p>  @Html.ActionLink("Torna indietro", "BackOffice", "Home", new { area = "" }, new { @class = "bottone1" })</p>
