@model IEnumerable<PugliaMia.Models.DettagliOrdine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrdineID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdottoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordini.StatoOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prodotti.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrdineID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdottoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordini.StatoOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prodotti.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.DettaglioID }) |
            @Html.ActionLink("Details", "Details", new { id = item.DettaglioID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.DettaglioID })
        </td>
    </tr>
}

</table>
