@model IEnumerable<PugliaMia.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid bgChisiamo9">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un mare di sapori</h1>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
    <h2 class="titPage">Ordini</h2>
    <hr class="border border-danger border-2 opacity-50 mb-4" />

    <p>
        @Html.ActionLink("Crea Ordine", "Create", "", new { @class = "bottone1" })
    </p>
    <p>  @Html.ActionLink("Torna indietro", "BackOffice", "Home", new { area = "" }, new { @class = "bottone1" })</p>
    <table class="table table-warning table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrdineID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utenti.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOrdine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatoOrdine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totale)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrdineID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Utenti.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataOrdine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatoOrdine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Totale)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OrdineID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OrdineID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrdineID }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }

    </table>
</div>

