@model PugliaMia.Models.RiepilogoOrdineViewModel

<div class="container login-form my-4">
    <h2>Riepilogo dell'Ordine</h2>


    <h3 class="titPage">Dettagli dell'Ordine</h3>
    <hr class="border border-danger border-2 opacity-50 mb-4" />
    <p>ID Ordine:<b> @Model.Ordine.OrdineID</b></p>
    <p>Data Ordine:<b> @Model.Ordine.DataOrdine</b></p>
    <p>Totale:<b> @Model.Ordine.Totale</b></p>
    <!-- Altri dettagli dell'ordine -->

    <h3 class="titPage">Dettagli della Spedizione</h3>
    <hr class="border border-danger border-2 opacity-50 mb-4" />
    <p>Indirizzo Spedizione:<b> @Model.Spedizione.IndirizzoSpedizione</b></p>
    <p>Numero Tracciamento:<b> @Model.Spedizione.NumeroTracciamento</b></p>
    <p>Stato Spedizione: <b>@Model.Spedizione.StatoSpedizione</b></p>

    <!-- Altri dettagli della spedizione -->

    <h3 class="titPage">Dettagli del Pagamento</h3>
    <hr class="border border-danger border-2 opacity-50 mb-4" />
    <p>Metodo Pagamento: <b>@(Model.Pagamento?.MetodoPagamento ?? "Not available")</b></p>
    
    <hr />
    <p>Totale dell'Ordine:<b> @Model.TotaleOrdine €</b></p>
    <p>Costo di Spedizione Totale:<b> @Model.CostoSpedizioneTotale €</b></p>


    <!-- Altri dettagli del pagamento -->

    <h3 class="titPage">Prodotti Ordinati</h3>
    <hr class="border border-danger border-2 opacity-50 mb-4" />
    @if (Model.DettagliOrdine.Any())
    {
        <ul>
            @foreach (var dettaglio in Model.DettagliOrdine)
            {
                <li><b>@dettaglio.Prodotti.Nome - Quantità: @dettaglio.Quantita - Prezzo: @dettaglio.Prezzo €</b></li>



            }
        </ul>



    }
    else
    {
        <p>Non ci sono prodotti nell'ordine.</p>
    }








    <p>@Html.ActionLink("Torna al menù", "Index", "Categorie", new { area = "" }, new { @class = "bottone1" })</p>
    <p>@Html.ActionLink("Modifica Ordine", "ModificaOrdine", "Ordini", new { ordineId = Model.Ordine.OrdineID }, new { @class = "bottone1" })</p>

</div>
