@model PugliaMia.Models.Recensioni

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid bgChisiamo9">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un mare di sapori</h1>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mb-4">Eliminazione Recensione</h2>
            <h4 class="card-subtitle mb-4">Sei sicuro di voler eliminare questa recensione?</h4>

            <hr>

            <dl class="row">
                <dt class="col-sm-3">Prodotto:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Prodotti.Nome)</dd>

                <dt class="col-sm-3">Utente:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Utenti.Nome)</dd>

                <dt class="col-sm-3">Punteggio:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Punteggio)</dd>

                <dt class="col-sm-3">Commento:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Commento)</dd>

                <dt class="col-sm-3">Data Recensione:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DataRecensione)</dd>
            </dl>

            <div class="row justify-content-center">
                <div class="col-sm-auto">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Elimina</button>
                        @Html.ActionLink("Annulla", "Index", "Categorie", null, new { @class = "btn btn-secondary ml-2" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>
