@model IEnumerable<PugliaMia.Models.Recensioni>

@{
    ViewBag.Title = "Index";
}

<h2 class="my-4 titPage">Recensioni Prodotto</h2>
<hr class="border border-danger border-2 opacity-50 mb-4" />

<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="list-group-item">
            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Utenti.Nome)</h5>
            <p class="mb-1">
                @for (int i = 0; i < item.Punteggio; i++)
                {
                    <i class="fas fa-star"></i>
                }
            </p>
            <p class="mb-1">@Html.DisplayFor(modelItem => item.Commento)</p>
            <small>
                @if (item.DataRecensione.HasValue)
                {
                    @item.DataRecensione.Value.ToString("dd/MM/yyyy")
                }
                else
                {
                    @:"Data non disponibile"
                }
            </small>
            <div class="btn-group mt-2" role="group" aria-label="Azioni">
                @if (item.UserID == ViewBag.CurrentUserID)
                {
                    
                    @Html.ActionLink("Modifica", "Edit", new { id = item.RecensioneID }, new { @class = "btn btn-outline-secondary btn-sm" })
                    @Html.ActionLink("Elimina", "Delete", new { id = item.RecensioneID }, new { @class = "btn btn-outline-danger btn-sm" })
                }
            </div>
        </div>
    }
</div>


