<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/Styles/css.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Nome dell'applicazione", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("I nostri Prodotti", "Index", "Categorie", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Lista Prodotti", "IndexAdmin", "Prodotti", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Carrello", "Index", "Carrello", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("I tuoi Ordini", "OrdiniUtente", "Ordini", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Utenti", new { area = "" }, new { @class = "btn btn-dark fw-bold" })</li>
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Back Office", "BackOffice", "Home", new { area = "" }, new { @class = "nav-link text-warning fw-bold" })</li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Accedi", "Login", "Utenti", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Registrati", "Register", "Utenti", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()

    </div>
    <script>
        $(document).ready(function () {
            var navbar = $('.navbar');
            var scrolled = false;

            $(window).scroll(function () {
                if ($(this).scrollTop() > 10) { // Quando si scorre verso il basso più di 50px
                    if (!scrolled) { // Se non è ancora stato eseguito lo scrolling
                        navbar.addClass('navbar-transparent'); // Aggiungi la classe per rendere la navbar trasparente
                        scrolled = true;
                    }
                } else { // Quando si scorre verso l'alto
                    if (scrolled) { // Se è stato eseguito lo scrolling
                        navbar.removeClass('navbar-transparent'); // Rimuovi la classe per ripristinare il colore originale della navbar
                        scrolled = false;
                    }
                }
            });
        });

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
