@model PugliaMia.Models.Prodotti

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid bgChisiamo5">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un posto magico</h1>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4 my-4">
    <h2 class="titPage">Dettagli Prodotto</h2>
    <hr class="border border-danger border-2 opacity-50 mb-4" />
    <div class="row">
        <div class="col-lg-6">
            <img src="@(!string.IsNullOrEmpty(Model.Immagine) ? Url.Content(Model.Immagine) : Url.Content("~/Content/Images/hotel.jpg"))" class="card-img-top w-100" alt="..." />
        </div>
        <div class="col-lg-6">
            <div class="card border-0">
                <div class="card-body">
                    <div class="row h-100 my-4 lineaHome">
                        <div class="col-sm-9 fw-bold size">
                            @if (ViewBag.PunteggioMedio != null)
                            {
                                <p>Punteggio:</p>
                                <p>
                                    @for (int i = 0; i < ViewBag.PunteggioMedio; i++)
                                    {
                                        <i class="fas fa-star stella"></i>
                                    }
                                </p>
                            }
                            else
                            {
                                <p>Nessuna valutazione disponibile</p>
                            }
                            <h1>@Html.DisplayFor(model => model.Nome)</h1>
                        </div>



                        <div class="col-sm-9 fs-2 fw-bold">
                            <p>@Html.DisplayFor(model => model.Prezzo)€</p>
                        </div>

                        <div class="col-sm-9 text-secondary">
                            <p>@Html.DisplayFor(model => model.Categorie.NomeCategoria)</p>
                        </div>

                        <div class="col-sm-9 text-secondary">
                            <p>@Html.DisplayFor(model => model.Descrizione)</p>
                        </div>



                        <div class="col-sm-9 text-secondary">
                            <p><b>Ingredienti:</b> @Html.DisplayFor(model => model.Ingredienti)</p>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="bottone1 mb-2 btnVediRecensioni">Vedi Recensioni</button>
                        @if (Request.IsAuthenticated)
                        {
                            <p>@Html.ActionLink("Aggiungi Recensione", "Create", "Recensioni", new { prodottoId = Model.ProdottoID }, new { @class = "bottone1" })</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="recensioniContainer"></div>
</div>
<script>
    $(".btnVediRecensioni").click(function () {
        // Ottieni l'ID del prodotto corrente dal modello
        var prodottoID = '@Model.ProdottoID';

        // Esegui una richiesta AJAX per ottenere le recensioni del prodotto
        $.ajax({
            url: '@Url.Action("Index", "Recensioni")',
            type: 'GET',
            data: { id: prodottoID },
            success: function (response) {
                // Aggiungi le recensioni al div delle recensioni
                $("#recensioniContainer").html(response);

                // Esegui lo scroll verso il div delle recensioni
                $('html, body').animate({
                    scrollTop: $("#recensioniContainer").offset().top
                }, 1000); // Tempo (in millisecondi) per raggiungere il div delle recensioni
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert('Si è verificato un errore durante il recupero delle recensioni.');
            }
        });
    });
</script>
