@model PugliaMia.Models.Prodotti

@{
    ViewBag.Title = "Details";
}

<div class="container mt-5">
    <h2>Dettagli Prodotto</h2>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Prodotti</h4>
            <dl class="row">
                <dt class="col-sm-3">Categoria</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Categorie.NomeCategoria)</dd>

                <dt class="col-sm-3">Nome</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

                <dt class="col-sm-3">Descrizione</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descrizione)</dd>

                <dt class="col-sm-3">Prezzo</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Prezzo)</dd>

                <dt class="col-sm-3"></dt>
                <img src="@(!string.IsNullOrEmpty(Model.Immagine) ? Url.Content(Model.Immagine) : Url.Content("~/Content/Images/hotel.jpg"))" class="card-img-top w-25" alt="..." />
            </dl>
            <div>
                <button type="button" class="bottone1 mb-2 btnVediRecensioni">Vedi Recensioni</button>
                @if (Request.IsAuthenticated)
                {

                    <p>@Html.ActionLink("Aggiungi Recensione", "Create", "Recensioni", new { prodottoId = Model.ProdottoID }, new { @class = "bottone1" })</p>
                }
                </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="recensioniContainer"></div>
</div>
<script>
    $(".btnVediRecensioni").click(function () {
        // Ottieni l'ID del prodotto corrente dal modello
        var prodottoID = '@Model.ProdottoID';

        // Esegui una richiesta AJAX per ottenere le recensioni del prodotto
        $.ajax({
            url: '@Url.Action("Index", "Recensioni")',
            type: 'GET',
            data: { id: prodottoID },
            success: function (response) {
                // Aggiungi le recensioni al div delle recensioni
                $("#recensioniContainer").html(response);

                // Esegui lo scroll verso il div delle recensioni
                $('html, body').animate({
                    scrollTop: $("#recensioniContainer").offset().top
                }, 1000); // Tempo (in millisecondi) per raggiungere il div delle recensioni
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert('Si è verificato un errore durante il recupero delle recensioni.');
            }
        });
    });
</script>
