@model IEnumerable<PugliaMia.Models.Prodotti>

@{
    ViewBag.Title = "IndexAdmin";
}

<div class="container-fluid bgChisiamo9">
    <div class="container hero">
        <div class="row pt-5">
            <div class="text-center lh-4">
                <h1 class="text-white fw-bold titShop dancing">Un mare di sapori</h1>
            </div>
        </div>
    </div>
</div>

<div class="container py-3">
   

    <p class="pt-4">
        @Html.ActionLink("Createun nuovo prodotto", "Create", new { area = "" }, new { @class = "bottone1" })
    </p>
    <div class="container pt-4">
        <h2>Prodotti</h2>
        <hr class="border border-danger border-2 opacity-50 mb-4" />
        <div class="row row-cols-1 row-cols-md-3 g-4">

            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="product p-2" style="width: 18rem;">
                        <img src="@Url.Content(string.IsNullOrEmpty(item.Immagine) ? "~/Content/Images/hotel.jpg" : item.Immagine)" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Prezzo)</p>


                            <div>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ProdottoID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ProdottoID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProdottoID })
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<p>  @Html.ActionLink("Torna indietro", "BackOffice", "Home", new { area = "" }, new { @class = "bottone1" })</p>